body {
  background-color: rgba(136, 135, 116, 0.3);
  font-family: "Playfair Display", serif;
}
a {
  color: #7e8773;
}
.weather-app {
  background-color: rgb(245, 245, 245);
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.15);
  border-radius: 16px;
}
header {
  border-bottom: 1px solid rgba(136, 135, 116, 0.3);
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: rgba(136, 135, 116, 0.1);
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-form-button {
  background-color: #7e8773;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  height: 88px;
  width: 88px;
  margin-top: 10px;
}
.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -10px;
  line-height: 88px;
}
.weather-app-unit {
  margin-top: 10px;
  font-size: 24px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}
strong {
  color: rgb(150, 169, 194);
}
.weather-forecast {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-icon {
  width: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-min {
  opacity: 0.8;
  margin: 20px;
}
.weather-forecast-temperature {
  font-size: 13px;
  margin: 20px;
}
